# Ignore compiled files.
*.pyc
*__pycache__

# Ignore output images.
*.afphoto
*.avi
*.jpg
*.gif
*.png
*.mp4
*.svg
*.tiff
*.tif
*.webp

# Ignore output configuration files.
*.conf
*.json

# Ignore macOS files.
.DS_Store

# Ignore experiments.
audio.py
chunk_video.sh

# Ignore helper/shortcut scripts.
runtests.sh

# Working scripts.
working.py