# Ignore compiled files.
*.pyc
*__pycache__

# Ignore output images.
*.svg
*.tiff
*.gif
*.afphoto
*.tif
*.jpg
*.png
*.webp

# Ignore output configuration files.
*.conf

# Ignore macOS files.
.DS_Store

# Ignore experiments.
audio.py